@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. hello21   </p>


<style>


    body {
        background-color: #e3f2fd; /* Light blue background color */
    }

</style>